# Ignore config files
ros2_ws/src/flychams_bringup/config/airsim.json
ros2_ws/src/flychams_bringup/config/mission.yaml

# Ignore ROS2 files
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Ignore IDE files
.vscode/
.cursor/

# Ignore python cache
__pycache__/